* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;

}

/*------------section delivery-----------------*/
.delivery {
    background: #212121;
    color: #fff;
    text-align: center;
}

.delivery .container {
    padding-top: 80px;
    padding-bottom: 59px;
}

.delivery__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.delivery__title span {
    font-weight: normal;
}

.delivery__text {
    font-size: 21px;
}

/*----------section man-woman-------------------*/

.man-woman {
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}

.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man,
.woman {
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man {
    background: url(../img/man.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.woman {
    background: url(../img/woman.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    padding-left: 35px;
}

.man-woman h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.man-woman h2 span {
    font-weight: normal;
}

.man-woman p {
    font-weight: 200;
}

.man-woman a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman a:hover {
    background: #947762;
}

/*----------section new-------------------*/

.new .container {
    padding-top: 193px;
    padding-bottom: 107px;
    text-align: center;
}

.new h2 {
    font-size: 36;
    text-transform: uppercase;
}

.new button {
    width: 220px;
    height: 55px;
    background-color: #D7B399;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.new button:hover,
.new button:focus {
    background-color: #947762;
}

.catalog {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card img {
    width: 85%;
}

.card {
    border: #d7b399 1px solid;
    width: 22%;
    min-height: 350px;
    padding: 22px 0 25px;
}

.card h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 35px;

}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #d7b399;
    margin-top: 15px;
}

/*----------section header-------------------*/

header {
    background-color: #f9f6f1;
}

.section-header-menu {
    display: flex;
    justify-content: center;

}

ul {
    list-style: none;
}

.section_wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 61px;

}

.mainmenu {
        padding-top: 10px;
}

.section_wrapper div ul {
    display: flex;
    gap: 25px;
}

.navbar-toggler {
    display: none;
}


.mainmenu_item a:hover {
    color: #947762;
}



.logo {

    padding-right: 91px;
    padding-left: 91px;
}

.basket {

    padding-left: 91px;
}

/*----------section banner shoes-------------------*/

.section .banner .container {
    position: relative;
    min-height: 564px;
}

.slider_item {
    display: flex;
    min-height: 564px;
    background: url(../img/shoes.png) no-repeat right center;
    justify-content: space-between;
    padding-top: 172px;

}

.slider_text {
    font-size: 30px;
    padding-bottom: 36px;

}

.slider_big_text {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 55px;
    text-transform: uppercase;
    padding-bottom: 54px;

}

.button {
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #947762;
}

.slider_item-price {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

.slider_price_old {
    font-size: 24px;
    text-decoration-line: line-through;
}

.slider_price_new {
    font-size: 42px;
    color: #d84033
}

.slider_img {
    text-align: center;
    padding-bottom: 70px;
}

.slider_button {
    position: absolute;
    top: 50%;
    border: none;
    background: transparent;
}

.slider_button--prev {
    left: -100px;
}

.slider_button--next {
    right: -100px
}



/*----------dress-------------------*/



.shirts {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}

.shirt {
    position: relative;
    min-height: 236px;
    background-color: #F4F4F4;
    width: 25%;
}

.gray {
    background-color: #f9f6f1;
}

.shirt img {
    width: 72%;
    height: 90%;
}

.shirt p {
    position: absolute;
    bottom: 30px;
    left: 24px;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;

}

/*-------------------MEDIA--------------------*/

@media(max-width:1362px) {
    .slider_button--prev {
        left: 0;
    }

    .slider_button--next {
        right: 0;
    }
}

@media(max-width:1110px) {
    .container {
        width: auto;
        padding: 0 30px;
    }

    .mainmenu,
    .logo,
    .basket {
        padding-top: 30px;
    }

    .shirt {
        width: 25%;
    }
}

@media(max-width:992px) {

    header {
        text-align: center;
    }

    .mainmenu_list {
        padding-left: 80px;
    }

    .menu_wrapper {
        flex-wrap: wrap;
    }

    .logo {
        order: -1;
        width: 100%;
    }

    .catalog {
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
    }

}

@media(max-width:768px) {

    .man-woman .container {
        display: flex;
        flex-direction: column;
    }

    .man,
    .woman {
        width: 100%;
        padding-left: 35px;


    }

    .man-woman {
        background: linear-gradient(180deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
    }

    .card {
        width: 45%;
    }

    .slider_wrapper {
        display: none;
    }

    .slider_button {
        display: none;
    }

    .header {
        min-height: 90px;
    }


    .logo {
        order: -1;
        width: 70%;
    }

    .basket {
        order: -1;
        text-align: right;
    }

    .mainmenu_item {
        padding: 20px;
    }

    .shirt {
        width: 33%;
    }
}

@media(max-width:600px) {

    .basket,
    .mainmenu {
        display: none;
        width: 100%;

    }

    .navbar-toggler {
        display: block;
        height: 35px;
        margin-top: 30px;
        margin-left: 20px;
    }

    .navbar-toggler:hover {
        background-color: #947762;;
    }

    .mainmenu_list {
        flex-direction: column;

    }

    .section_wrapper {
        padding-bottom: 100px;
    }



    .show {
        display: block;
    }



}
@media(max-width:576px) {
    .card {
        width: 90%;
    }

    .new .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .catalog {
        margin-top: 50px;
    }

    .shirt {
        width: 50%;
    }


}