* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/*------section delivery---------*/


.delivery {
    background-color: #212121;
    color: #fff;
    text-align: center;
    /* min-height: 235px; */
}

.delivery .container {
    padding-top: 80px;
    padding-bottom: 59px;
}

.delivery_title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.delivery_title span {
    font-weight: normal;
}


/*------section man-woman---------*/

.man-woman .container {
    display: flex;
    flex-direction: row;
}

.man, .woman {
    width: 50%;
}